# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build directory
build/
.cache

# Visual Studio Code directory
.vscode/

# Sublime Text project files
*.sublime-workspace

# macOS specific files
.DS_Store
